nav {
    align-items: center;
}

.mobile-view {
    display: none;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler-icon {
    height: 2px;
    width: 25px;
    background-color: #fafafa;
    position: relative;
    top: 50%;
    left: 0;
    margin: auto;
    transition: all 0.3s ease-in-out;
    background-image: none;
}

.navbar-toggler-icon:before {
    content: "";
    height: 2px;
    width: 25px;
    box-shadow: 0 -10px 0 0 #fafafa;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
}

.navbar-toggler-icon:after {
    content: "";
    height: 2px;
    width: 25px;
    box-shadow: 0 10px 0 0 #fafafa;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
}

.type-primary:before {
    width: 12px;
}

.type-primary:after {
    width: 12px;
    box-shadow: 13px 10px 0 0 #fafafa;
}

.active .navbar-toggler-icon {
    background-color: transparent;
    transition: all 0.2s ease-in-out;

}

.active .navbar-toggler-icon:before {
    top: 0;
    transition: all 0.3s ease-in-out;
}

.active .navbar-toggler-icon:after {
    top: 0;
    transition: all 0.3s ease-in-out;
}

.active .type-primary {
    transform: rotate(45deg);
    background-color: #fafafa;
    transition: all 0.6s ease-in-out;
}

.active .type-primary:before {
    transform: translate(-4px, -6px) rotate(90deg);
}

.active .type-primary:after {
    transform: translate(16px, -7px) rotate(90deg);
}

.navbar-nav .nav-link {
    font-family: 'Clash Display';
    letter-spacing: 0.1em;
    color: #A3A3A3;
    padding: 0 !important;
}

.navbar-nav .nav-link.active {
    color: #fafafa;
}

.header-title {
    color: #737373;
    font-size: 56px;
    font-family: 'Schibsted Grotesk', sans-serif;
    font-weight: 500;
    margin: 0;
}


.header-title span {
    color: #fafafa;
}

#typing-effect {
    overflow: hidden;
    border-right: .15em solid #fafafa;
    /* efek pengecakan */
}

.cursor {
    border-right: 0.2em solid #fafafa;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        border-color: #fafafa;
    }

    49% {
        border-color: #fafafa;
    }

    50% {
        border-color: transparent;
    }

    99% {
        border-color: transparent;
    }

    100% {
        border-color: #fafafa;
    }
}


.header .btn-download {
    background-color: #262626;
    font-family: 'Uncut Sans Semibold';
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    color: #fafafa;
    text-decoration: none;
    letter-spacing: 0.02em;
    text-align: center;
}

.shots {
    position: relative;
    display: inline-block;
    border-radius: 32px;
}

.shots::after {
    border-radius: 32px;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: linear-gradient(180deg, rgba(23, 23, 23, 0) 0%, #171717 102.14%);
}

.img-shots {
    border-radius: 32px;
}

.avatar {
    justify-content: center;
    align-items: center;
}

.image-wrapper {
    width: 160px;
    height: 160px;
    background-color: #262626;
    border: 1px solid #737373;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}

.avatar-pic {
    padding: 16px;
}

.avatar-pic img {
    border-radius: 8px;
    position: absolute;
    z-index: 1;
}

.about {
    display: flex;
}

.about-title {
    color: #fafafa;
    font-size: 64px;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 500;
    margin: 0;
}

.about-title span {
    color: #fafafa;
    font-size: 64px;
    font-family: 'Schibsted Grotesk', sans-serif;
    font-weight: 500;
    margin: 0;
}

.about-text {
    color: #737373;
    margin: 0;
    font-family: 'Uncut Sans Regular';
}

.about-text span {
    color: #fafafa;
    font-weight: 500;
}

.about-text a {
    color: #fafafa;
    font-weight: 500;
}

.divider-full {
    color: #fafafa;
    border-width: 2px;
}

.divider {
    color: #fafafa;
    border-width: 2px;
}

.moto-profesional {
    font-family: 'Uncut Sans Semibold';
    color: #fafafa;
    margin-bottom: 1rem !important;
}

.moto-profesional span {
    font-family: 'Uncut Sans Regular';
    color: #fafafa;
    margin-bottom: 1rem !important;
}

.divider {
    margin: 0 0 0 0 !important;
}

.lets-connect {
    font-family: 'Uncut Sans Regular';
    color: #fafafa;
    margin-bottom: 0px !important;
}

.footer-link {
    margin: 0 0 0 0 !important;
    font-family: 'Clash Display';
    font-weight: 500;
    letter-spacing: 0.12em;
    color: #fafafa;
    text-decoration: none;
    margin-bottom: 0px !important;
}

.connect {
    display: flex;
}

/* Setup Responsive */

@media (max-width: 820px) {
    .enter {
        display: none;
    }

    hr {
        margin: 0 0 0 0 !important;
    }

    .mobile-view {
        display: block;
    }

    .nav-icon {
        display: none;
    }

    .nav-link {
        font-size: 16px;
    }

    .header-title {
        color: #737373;
        font-size: 22px;
        font-family: 'Schibsted Grotesk', sans-serif;
        font-weight: 500;
        margin: 0;
    }

    .header .btn-download {
        background-color: #262626;
        justify-content: center;
        align-items: center;
        padding: 16px 32px;
        font-family: 'Uncut Sans Semibold';
        font-size: 12px;
        color: #fafafa;
        font-weight: 400;
        text-decoration: none;
        letter-spacing: 0.08em;
    }

    .shots {
        border-radius: 12px;
    }

    .shots::after {
        border-radius: 12px;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: inline-block;
        background: linear-gradient(180deg, rgba(23, 23, 23, 0) 0%, #171717 102.14%);
    }

    .img-shots {
        border-radius: 12px;
    }

    .about {
        display: block;
    }

    .about .tab {
        display: none;
    }

    .moto-profesional {
        font-family: 'Uncut Sans Semibold';
        color: #fafafa;
        margin-bottom: 1rem !important;
    }

    .moto-profesional span {
        font-family: 'Uncut Sans Regular';
        margin-bottom: 1rem !important;
    }

    .lets-connect {
        font-family: 'Uncut Sans Regular';
        color: #fafafa;
        margin-bottom: 0px !important;
    }

    .connect {
        display: block;
    }

}