* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #171717;
}

.rounded-full {
    border-radius: 100px;
}

/* Container */
.container-fluid {
    padding-right: 140px;
    padding-left: 140px;
}


/* Small devices (landscape phones, 375px and up) */
@media (min-width: 375px) {
    .container-fluid {
        padding-right: 16px;
        padding-left: 16px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container-fluid {
        padding-right: 70px;
        padding-left: 70px;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container-fluid {
        padding-right: 140px;
        padding-left: 140px;
    }
}

@media (min-width: 1400px) {
    .container-xxl {
        max-width: 1420px;
    }
}

/*  */

/* Padding */

.pt-16 {
    padding-top: 1rem;
}

.pt-32 {
    padding-top: 2rem;
}

.pb-32 {
    padding-top: 2rem;
}

.pt-40 {
    padding-top: 2.5rem;
}

.pt-96 {
    padding-top: 6rem;
}

.pt-24 {
    padding-top: 1.5rem;
}

.ps-48 {
    padding-left: 3rem;
}

/*  */

/* Margin */
.mt-32 {
    margin-top: 2rem;
}

.mb-32 {
    margin-bottom: 2rem;
}

.mt-40 {
    margin-top: 2.5rem;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    /* Padding */

    .pt-lg-40 {
        padding-top: 2.5rem;
    }

    .pb-lg-40 {
        padding-bottom: 2.5rem;
    }

    /*  */
}

/* Gap */
.gap-3 {
    gap: 3rem !important;
}

/*  */

/* Font */

.text-lg {
    font-family: 'Clash Display';
    font-size: 0.875rem;
    line-height: 1.4rem;
}