body {
    background-color: #171717;
}

.rounded-full {
    border-radius: 100px;
}


/* Container */

.container-fluid {
    padding-right: 16px;
    padding-left: 16px;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .container-fluid {
        padding-right: 40px;
        padding-left: 40px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container-fluid {
        padding-right: 70px;
        padding-left: 70px;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container-fluid {
        padding-right: 100px;
        padding-left: 100px;
    }
}

@media (min-width: 1400px) {
    .container-xxl {
        max-width: 1420px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    /* Margin */
    .ms-lg-2xl {
        margin-left: 3rem;
    }

    .mt-lg-md {
        margin-top: 32px;
    }

    .mt-lg-4xl {
        margin-top: 100px;
    }

    /* Padding */
    .pt-lg-xs {
        padding-top: 16px;
    }

    .pt-lg-md {
        padding-top: 32px;
    }

    .pt-lg-xl {
        padding-top: 40px;
    }

    .pt-lg-2xl {
        padding-top: 48px;
    }

    .pt-lg-3xl {
        padding-top: 68px;
    }

    .pt-lg-4xl {
        padding-top: 100px;
    }

    .pt-lg-5xl {
        padding-top: 120px;
    }

    .ps-lg-2xl {
        padding-left: 48px;
    }

    .pb-lg-md {
        padding-bottom: 32px;
    }

    .pb-lg-xl {
        padding-bottom: 40px;
    }

    /* Gap */
    .gap-lg-sm {
        gap: 8px;
    }

    .gap-lg-base {
        gap: 48px;
    }
}

@media (max-width: 820px) {

    /* Margin */
    .mt-sm-xs {
        padding-top: 16px;
    }

    .mt-sm-2xl {
        margin-top: 64px;
    }

    /* Padding */
    .pt-sm-2xs {
        padding-top: 8px;
    }

    .pt-sm-xs {
        padding-top: 16px;
    }

    .pt-sm-md {
        padding-top: 24px;
    }

    .pt-sm-xl {
        padding-top: 32px;
    }

    .pt-sm-2xl {
        padding-top: 64px;
    }

    .pt-sm-3xl {
        padding-top: 84px;
    }

    .pb-sm-xs {
        padding-bottom: 16px;
    }

    .pb-sm-md {
        padding-bottom: 24px;
    }

    /* Gap */
    .gap-sm-xs {
        gap: 16px;
    }

    .gap-sm-base {
        gap: 32px;
    }
}